[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
psycopg2-binary = "*"
pandas = "*"
python-dotenv = "*"
sqlalchemy = "*"
xlrd = "*"
pysentiment = {editable = true,git = "git://github.com/vkelk/pysentiment.git"}
python-docx = "*"

[requires]
python_version = "3.7"
